# Working with Geoplot
### Purpose:
    - to create visulization of the data collections from different researchers 
    - interactive so people can learn about their researcher 
    - longterm goal: would like to have an interactive website 
- Geoplot pointplots:https://residentmario.github.io/geoplot/gallery/plot_usa_city_elevations.html
- Georgaphical scatter plots plotly: https://plot.ly/python/scatter-plots-on-maps/
- choropleth Maps in python: https://plot.ly/python/choropleth-maps/
- examples of geo plots using plotly: https://www.bigendiandata.com/2017-06-27-Mapping_in_Jupyter/

In [1]:
import pandas as pd 
import numpy as np

In [2]:
rathbun_emu_df = pd.read_csv('AWHI_Rathbun_EMu.csv')
rathbun_emu_df.head()

/Users/curryt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ecatalogue_key,irn,CatBarcode,DarCatalogNumber,DarClass,DarCountry,DarDecimalLatitude,DarDecimalLongitude,DarFamily,DarGenus,...,DarLocality,DarMonthCollected,DarDayCollected,DarFieldNumber,DarCollectorNumber,DarPreparations,DarIdentifiedBy,DarCollector.1,AdmPublishWebNoPassword,DarTypeStatus
0,1,37327,NaN,6529.37327,Hydrozoa,NaN,NaN,NaN,Milleporidae,Millepora,...,NaN,NaN,NaN,NaN,NaN,Dry,"Rathbun, R.",NaN,Yes,NaN
1,2,17225,NaN,30987.17225,Scyphozoa,NaN,NaN,NaN,Ulmaridae,Aurelia,...,NaN,NaN,NaN,NaN,NaN,Alcohol (Ethanol),"Rathbun, Mary Jane, Smithsonian Institution",NaN,Yes,NaN
2,3,14276559,NaN,60791.14277,Malacostraca,Panama,NaN,NaN,Oziidae,Ozius,...,Panama Harbor,5.0,NaN,NaN,NaN,Alcohol (Ethanol),"Rathbun, Mary Jane, Smithsonian Institution",E. Deichmann,No,NaN
3,4,13562270,NaN,49049.13562,Malacostraca,United States,21.28013,-157.850208,Domeciidae,Domecia,...,"Waialaeki, Oahu (ridge); Hawaiian Is.",NaN,NaN,NaN,NaN,Alcohol (Ethanol),"Rathbun, Mary Jane, Smithsonian Institution",Bridwell,Yes,NaN
4,5,13562265,NaN,48516.13562,Malacostraca,Cuba,22.70810,-84.024700,Domeciidae,Domecia,...,Cayo Hutia,5.0,12.0,NaN,NaN,Alcohol (Ethanol),"Rathbun, Mary Jane, Smithsonian Institution",NaN,Yes,NaN

In [4]:
rathbun_emu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20561 entries, 0 to 20560
Data columns (total 32 columns):
ecatalogue_key                 20561 non-null int64
irn                            20561 non-null int64
CatBarcode                     0 non-null float64
DarCatalogNumber               20561 non-null object
DarClass                       20398 non-null object
DarCountry                     19789 non-null object
DarDecimalLatitude             15354 non-null float64
DarDecimalLongitude            15350 non-null float64
DarFamily                      20321 non-null object
DarGenus                       20424 non-null object
DarHigherTaxon                 20561 non-null object
DarOrder                       20361 non-null object
DarPhylum                      20561 non-null object
DarScientificName              20424 non-null object
DarScientificNameAuthor        20255 non-null object
DarScientificNameAuthorYear    20255 non-null object
DarSpecificEpithet             20424 non-null object
DarYearCollected               16554 non-null float64
DarCollector                   16916 non-null object
AdmGUIDPreferredValue          20561 non-null object
DarStateProvince               13052 non-null object
DarCounty                      713 non-null object
DarLocality                    18717 non-null object
DarMonthCollected              14320 non-null float64
DarDayCollected                12791 non-null float64
DarFieldNumber                 4315 non-null object
DarCollectorNumber             7 non-null object
DarPreparations                20559 non-null object
DarIdentifiedBy                20337 non-null object
DarCollector.1                 16916 non-null object
AdmPublishWebNoPassword        20561 non-null object
DarTypeStatus                  912 non-null object
dtypes: float64(6), int64(2), object(24)
memory usage: 5.0+ MB